*.png
*.code-workspace
*.aux
*.fls
*.fdb_latexmk
*.log
*.gz
*.bbl
*.bcf
*.blg
*.run.xml
email_jonas
email_jonas_2
AdvancedMachineLearningSlides.pdf
SymmetryGroupsAndTheirApplications_Miller.pdf
Percolation_Grimmett.pdf
GenData/Data2d/
GenData/Data3d/
GenData/DataCycle/
Percolation/DataSet1/
IntermediateReport/.vscode/
